/* =======================
           RESET
=========================*/

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0 !important;
	padding:0 !important;
        border:0px !important;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

  img{
    width: 100%;
    display: block;
  }

/* =======================
                  RESET
=========================*/



/*===========
Fuentes
TITULOS
font-family: 'Pathway Gothic One', sans-serif;
TEXTOS
font-family: 'Roboto Condensed', sans-serif;
Banners
font-family: 'Oswald', sans-serif;

font-family: 'Anton', sans-serif;
============*/
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Anton);

html,body{
    background-color:#ffffff;
    margin:0;
    padding:0;
    border:0;
    height:100%;
}


/* ===================================================  
          

                     -BLOQUEOS-


====================================================*/
/* CONTADOR DE VISTAS */
#counter{
    display:none;
}

#webme_footer_textlink_dont_hide{
    display:none;
}

#hpb_cssonly{
margin:0;
padding:0;
  display:none;
}

iframe{
display:none;
}

table{
border:0;
margin:0;
padding:0;
display:none;
}

#ad-c4ca br{
border:10px solid #336699;
float:left;
display:table;
  display:none;
height:0;
position:relative;
top:-1000px;
z-index:2;
}

#ad-cfcd{
display:none;
height:0;
}




/*============= CONTENEDOR ======================*/
#container{
top:1px;
/*margin:0 auto;*/
border-top:1px solid #f5f5f5;
display:block;
margin-left:auto;
width:100% !important;
}

/* SEGUNDO FONDO DETRÁS DEL LOGO*/
#bg_2{
background-repeat:no-repeat;
/*background-image:url(http://img.webme.com/pic/h/hernanrocklife/bg_02.png);*/
background-position:center;
display:block;
width:100%;
height:588px;
position:absolute;
z-index:990;
}

h2{
display:none;
}

/*Encabezado o Logotipo*/
#header{
display:block;
display:none;
font-family: 'Archivo Black', sans-serif;
font-size:200%;
height:;
margin:0;
text-align:center;
text-transform:uppercase;
padding:0;
}
#header:hover{
      color:#FF4000;
}

/* ===================================================  
          

                     LOGOTIPO


====================================================*/
#header_container{
background-image:url(https://img.webme.com/pic/a/ahdisenografico/Logo_Small.png);
background-position:center;
background-repeat:no-repeat;
display:inline-block;
width:100%;
height:200px;
border-bottom: 1px solid #D8D8D8;
float:left;
}

#nav_container{
	/*background-color:#585858;*/
background-color:#fff;
	width:100%;
height:auto;
	float:right;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #D8D8D8;
	display:inline-block;
}

ul{
/*background-color:#336699;*/
    width:100%;
    list-style:none;
	margin: 0;
	padding: 0;
	border: 0;
	display:inline-block;
}

ul li{
float:left;
width:25%;
}


.encabezado{
/*color:#336699;*/
/*background-color:#ff0000;*/
}

/*gorro 2339*/
#sidebar_content{
display:none;
}

.contenedor_iconico{
/*border:1px solid #336699;*/
}

.pie_pagina{
background-color:#282828;
border-bottom:5px solid  #FF4000;
color:#7a7a7a;
font-family: 'Roboto Condensed', sans-serif;
font-size:12px;
height:45px;
padding:10%;
text-align:left;
text-transform:uppercase;
}

.br_oculto{
display:none;
}

.ah{
color:#fff;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-size:40px;
text-align:left;
text-transform:uppercase;
margin-top:-10px;
}
/* ======  TEXTO  ======*/
.bienvenida{
color:#FF4000;
font-family: 'Roboto Condensed', sans-serif;
font-size:50px;
text-align:left;
text-transform:uppercase;
margin-top:-10px;
}

.box_izq_01{
display:inline-block;
width: 100%; 
height:100px;
}

.int_box_red_right{
background-color:#FF4000;
color:#fff;
display:block;
font-family:Arial;
float:right;
height:100%;
padding:2%;
text-transform:uppercase;
text-align:middle;
vertical-align:middle;
width: 50%; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;  
-o-box-sizing: border-box;
box-sizing: border-box; 
}

.int_box_blanco_left{
display:block;
background-color:#eee;
color:#333;
font-family: 'Holtwood One SC', serif;
font-size:130%;
float:left;
height:100%;
padding:2%;
text-transform:uppercase;
text-align:center;
vertical-align:middle;
width: 50%; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;  
-o-box-sizing: border-box;
box-sizing: border-box; 
}

.box_right_02{
display:inline-block;
width: 100%; 
}

.int_box_red_left{
float:left;
height:auto;
padding:2%;
width: 50%; 
box-sizing:border-box;
-moz-box-sizing:border-box;
}

.int_box_blanco_right{
float:right;
height:auto;
padding:2%;
width: 50%; 
box-sizing:border-box;
-moz-box-sizing:border-box;
}

/* ===================================================  
         ↓       GALERIA DE IMAGENES     ↓
====================================================*/

.saltolinea {
display:none;
}

#galeria, #galeria * {
box-sizing:border-box,-moz-box-sizing:border-box}
#galeria {
border: 1px solid #EAEAEA;  /* Borde de la galería */
border-top: none;
display: inline-block;
padding: 10px;
background: white;  /* Fondo de la galería */
width: 100%;  /* Ancho de la galería */
height: auto;
box-sizing:border-box;
-moz-box-sizing:border-box;

}

#imgGaleria {
	float: left;
border-bottom:5px solid  #FF4000;  /* Borde de la imagen */
padding: 0px;
width: 100%; /* Ancho de la imagen */
height: x; /* Alto de la imagen */
margin:0% 1% 1% 0%;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

#galeria_miniaturas {
display: table;
margin: 0 auto;
}

.miniatura {
border-bottom:5px solid  #FF4000;
width:  60px;  /* Ancho de las miniaturas */
height:  60px;  /* Alto de las miniaturas */
float: left;
cursor: pointer;
padding: 0px;
margin:0% 1% 1% 0%;
}
.miniatura:hover {
opacity:.8;   /* Opacidad */
-moz-opacity:.8;
-khtml-opacity:.8;
filter:alpha(opacity=80);
}
.miniatura:active {
opacity:1;
-moz-opacity:1;
-khtml-opacity:1;
filter:alpha(opacity=80);
}

.box_info_producto{
	color: #fff;
	display: inline-block;
	background-color: #222323;
	font-family: 'Josefin Slab', serif;
	font-size: 14px;
	height: auto;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
}

.titulo_info_producto{
	color:#ffae00;
	display: inline-block;
	font-family: 'Josefin Slab', serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
}
/* ===================================================  
         ↑       GALERIA DE IMAGENES     ↑
====================================================*/


/* ===================================================  
         ↓         TEXTOS                ↓
====================================================*/
#titulos{
background-color:#0099ff;
color:#fff;
display:block;
font-family: 'Pathway Gothic One', sans-serif;
font-size:1.4em;
margin-bottom:5px;
padding:10px;
text-transform:uppercase;
width: 100%;
	word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}

.txt_generico{
color:#999;
font-family: 'Roboto Condensed', sans-serif;
font-size:0.9em;
}
.titulo_ch{
    color: #ff6633;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    text-transform:uppercase;
}
/* ===================================================  
         ↑         TEXTOS                ↑
====================================================*/

/* ===================================================  
          

              ESTILOS PARA CADA PÁGINA


====================================================*/

/* ===================================================  
          ↓             INICIO               ↓
====================================================*/
#ejemplo{
border:1px solid #336699;
    width: 100%;
    height: auto;
padding:10% 0;

    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}

#ejemplo2{
border:1px solid red;
    width: 90%;
max-width: 950px;
    height: auto;
margin:0 auto;

    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}


/*    CAJA AZUL CON BREVE RESUMEN DE QUE HACEMOS*/
.container{
  width:100%;
  height:auto;
  /*add flexbox style*/
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  flex-flow:wrap;
  justify-content: center;
}

.box{
  width:20%;
  height:auto;
  background:#fff;
  margin:10px;
  box-sizing:border-box;
  font-size:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:center;
  /*border: 10px solid #e7e7e7;*/
}

#centrarIMG{
    display:block;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
    vertical-align: middle
}

.box_in{
  display:grid;
}

#text_icons{
  font-family: 'Pathway Gothic One', sans-serif;
  border: 10px solid red;
  display: inline-block;
  width:100%;
  font-size:20px;
}


#box_blue{
    width: 100%;
    height: auto;
    padding:10% 0;
    background-color:#0099ff;
    color:#fff;
    display:inline-block;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}
#box_center{
    width: 90%;
    max-width: 950px;
    height: auto;
    margin:0 auto;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}
/*    CAJA IZQUIERDA CON EL SALUDO "HOLA"*/
#box_left{
    color:#fff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:8em;
    text-transform:uppercase;
    vertical-align:middle !important;
    float:left;
    width: 50%;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}
/*    CAJA DERECHA CON LA DESCRIPCION PEQUEÑA SOBRE QUE HACEMOS*/
#box_right{
    color:#fff;
    font-family: 'Pathway Gothic One', sans-serif !important;
    font-size:2em;
    float:right;
    width: 50%;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}

/*    CAJA BLANCA CONTENEDORA DE LOS MEDIOS DE CONTACTO WEB, MAIL Y TELÉFONO*/

#box_caja{
    background-color:#fff;
    background-image:url(http://img.webme.com/pic/a/ahdisenografico/bg_Industria.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: 103% 103%; /*Posición del fondo x y*/
    display:inline-block;
    width: 100%;
    height: auto;
    padding:10% 0;
    text-transform:uppercase;
    width: 100%;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}

/*    CAJA CONTENEDORA DE C/U DE LOS MEDIOS*/
#box_iconos{
    display:inline-block !important;
    padding:5%;
    width: 32.5%;
    height:300px;
    clear:left;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}










/* ===================================================  
          ↑             INICIO               ↑
====================================================*/



/*========================
   ESTILOS PARA EL SLIDE
=========================*/

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: movimiento 30s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes movimiento {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*========================
   ESTILOS PARA EL SLIDE
=========================*/

/*========================
          MENU
=========================*/

nav {
	margin: 27px auto 0;
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #323232;
	/*border-radius: 8px;*/
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	/*border-radius: 8px;*/
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

/*========================
          MENU
=========================*/





/*========================
   Media Queries
=========================*/

@media screen and (max-width:1200px){
  .box{
    width:40%;
  }
}

@media screen and (max-width:600px){
  .box{
    width:60%;
  }
  
  
  #box_left{
    color:#fff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:8em;
    text-transform:uppercase;
    vertical-align:middle !important;
    float:left;
    width: 100%;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}
/*    CAJA DERECHA CON LA DESCRIPCION PEQUEÑA SOBRE QUE HACEMOS*/
#box_right{
    color:#fff;
    font-family: 'Pathway Gothic One', sans-serif !important;
    font-size:2em;
    width: 100%;
    word-wrap: break-word;
    -webkit-box-sizing: border-box; /* Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; /* CSS */
}
  
}



/*========================
   Media Queries
=========================*/