@import url('https://fonts.cdnfonts.com/css/amertha-2');


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Amertha', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

